.features-wrapper {
    width: 98%;
    height: fit-content;
    margin: 10px auto;
    padding: 10px;
    // background-color: #F7F7F7;

    &__annualleaves {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        height: fit-content;
        background-color: white;
        margin: auto 0 10px;
        border-radius: 10px;
        &__title{
            @include titlecontainer();
        }
    }

    &__requestleaves {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        height: fit-content;
        background-color: white;
        margin: auto 0 10px;
        border-radius: 10px;
        &__title {
          @include titlecontainer();
        }

        .containerfullname,
        .containerdays {
            padding-top: 20px;
            display: flex;
            justify-content: space-around;

            &__firstname,
            &__lastname,
            &__firstday,
            &__lastday {
                width: 30%;

                @media #{$mobile} {
                    width: 100%;
                }
            }

            @media #{$mobile} {
                width: 80%;
                display: table;
                margin: 0 auto;
            }
        }

        .containerreason {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 80%;
            margin: auto;
        }

        .actionfields {
            display: flex;
            align-items: center;

            &__totdays {
                padding-left: 50px;
                font-family: $mainFont;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                position: absolute;
                left: 8%;

                @media #{$mobile} {
                    position: unset;
                    font-size: 14px;
                    padding-left: 30px;
                }
            }

            &__btnrequest {
                @include btn();
                border-radius: 119px;

                @media #{$mobile} {
                    height: 30px;
                    width: 100px;
                    font-size: 12px;
                    line-height: 30px;
                    margin-right: 20px;
                }
            }
        }
    }

    &__myleaves {
        padding-top: 30px;
        width: 100%;
        height: fit-content;
        background-color: white;
        margin: auto 0;
        border-radius: 10px;
        &__title{
            @include titlecontainer();
        }
    }
}